<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
    <p class='body-text'>Your documents are under review, and your application is pending identity verification. You can expect an update on your status via email within 5 business days.</p>
  <div class='signature-container'>
    <p>Thanks,</p>
    <p>Karma Wallet Support</p>
  </div>
  <p class='support-text'>
    <a href='mailto:support@karmawallet.io'>Need help? Contact us!</a>
  </p>
</div>
