<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
   {{#if acceptedDocuments}}
    <p class='body-text'>Your application is currently on hold pending further identity verification.</p>
    <p class='body-text'>{{solutionText}}</p>
    <ul>
      {{#each acceptedDocuments}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
   {{else}}
    <p class='body-text'>Your application has been declined due to insufficient identity verification. Please contact support@karmawallet.io so an associate may provide next steps for verification.</p>
   {{/if}}
  <p class='body-text'>Failure to reconcile indentity verification within 10 days will result in application closure, requiring you to reapply. We appreciate your prompt attention to this matter and thank you for your cooperation.</p>
  <div class='signature-container'>
    <p>Thanks,</p>
    <p>Karma Wallet Support</p>
  </div>
  <p class='support-text'>
    <a href='mailto:support@karmawallet.io'>Need help? Contact us!</a>
  </p>
</div>
