    <div class="card">
      <p class="salutation-text">Hello {{ name }}!</p>
      <p class="body-text">Please click the button below to confirm your request for an email change and to provide us with your new email.</p>
      <div class="cta-container">
        <a class="cta-link" href="{{verificationLink}}">Change Email</a>
      </div>
      <p class="support-text">
        If clicking the button above doesn't work, please copy and paste <a href="{{verificationLink}}">{{verificationLink}}</a> in a new browser window instead.
      </p>  
      <p class="support-text">If you did not request this change please contact support at <strong>support@karmawallet.io</strong></p>
    </div>