
  <div class="card">
    <p class="salutation-text">{{name}}, you earned a Karma Cash reward.</p>
    <p class="body-text">Your recent purchase at {{companyName}} earned a Karma Cash reward.</p>
    <div class="cta-container">
      <a 
        class="cta-link"
        href="{{domain}}/browse-companies?sort=companyName&ratings=positive%2Cneutral&cashback=true"
      >
        See other available offers
      </a>
    </div>
    <p class="support-text">
      <a href="mailto:support@karmawallet.io">For Support, contact Karma Wallet at support@karmawallet.io</a>
    </p>
  </div>