<div class="card">
  <p class="salutation-text">Hi {{name}},</p>
  <p class="body-text" id="body-text-important">
    After reviewing your application, you've been approved for the Karma Wallet Card! To finish setting up your membership and access your card, please click the button below to pay your membership fee.
  </p>
  <div class="cta-container">
    <a class="cta-link" href={{link}}>Finish Payment</a>
  </div>
  <p class="support-text">
    If clicking the button above doesn't work, please copy and paste {{link}} in a new browser window instead.
  </p>  
</div>