<div class="card">
  <p class="salutation-text">Hi {{name}},</p>
  <p class="body-text" id="body-text-important">
    After further review of your application, you've been approved for the Karma Wallet Card! To finish setting up your membership and start using your Karma Wallet Card, please log in to your Karma Wallet account and pay your membership fee. If you have already paid the membership fee, please disregard this email. You should have received an email to set your password and log in to your account. You can also reset your password using the "Forgot Password" link in the Sign In modal. 
  </p>
  <p>If you have any questions or need assistance, please don't hesitate to contact our customer support team at support@karmawallet.io</p>
  <div class="cta-container">
    <a class="cta-link" href={{link}}>Finish Payment</a>
  </div>
  <p class="support-text">
    If clicking the button above doesn't work, please copy and paste {{link}} in a new browser window instead.
  </p>  
</div>