
    <div class="card">
      <p class="salutation-text">Hi {{name}},</p>
        <p class="body-text">Welcome to Karma Wallet! To log into your account please click the link below and change your password.</p>
      <div class="cta-container">
        <a class="cta-link" href="{{passwordResetLink}}">Change Password</a>
      </div>
      <p class="body-text">
        If clicking the button above doesn't work, please copy and paste <a href="{{passwordResetLink}}">{{passwordResetLink}}</a> in a new browser window instead.
      </p>  
    </div>
  </div>