<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>

  <div  class='body-text'>
    <p>
      Thank you for your interest in Karma Wallet and for submitting your application.
    </p>
    <p>
      Your application is currently on hold pending further identity verification. To proceed with your application, we kindly request that you submit a selfie and clear copies of the following documents by {{applicationExpirationDate}}:
    </p>
    <ul>
      <li>A bank, credit card, or mortgage statement, OR utility bill issued within the last 60 days OR a current, signed lease agreement. Please ensure this document clearly displays your full name and address.</li>
    </ul>
    <p>
      AND
    </p>
    <p>
      <ul>
        <li>A clear copy of your Social Security card, OR your most recent tax return, OR W-2 form from wihin the last year. Please ensure that this document clearly displays your full name and SSN.</li>
      </ul>
    </p>
    <p>
      You can upload the documents securely through our online portal <a href={{link}}>here</a>.
    </p>
    <p>
      If you have already submitted these documents, please disregard this email. We will review your application and get back to you shortly.
    </p>
    <p>
      If you have any questions or need assistance, please don't hesitate to contact our customer support team at <a href="mailto:support@karmawallet.io">support@karmawallet.io</a>.
    </p>
    <p>
      Thank you for your cooperation and prompt attention to this matter. We appreciate your understanding as we work to maintain the security and compliance standards of our operations.
    </p>
  </div>

  <div class="signature-container">
    <p>Best Regards,</p>
    <p>Karma Wallet Support</p>
  </div>
</div>
