<div class='card'>
  <p class='salutation-text'>Hello,</p>
  <p class='body-text'>
    Your application for the Karma Wallet Card has not been completed. If you would like to finish your identification verification, please follow this link: {{link}}. If you have already completed your identity verification, please disregard this email.
  </p>
  <p class='body-text'>
    If you have any questions, please contact us at <a href="mailto:support@karmawallet.io">support@karmawallet.io</a>
  </p>
    <div class="signature-container">
    <p>Thanks,</p>
    <p>Karma Wallet Support</p>
  </div>
</div>
