<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    We received your request to open a transaction dispute. Your dispute is currently under investigation. Our investigations usually take up to 10 business days. However, if the first deposit to your account was made within the last 30 days, it is a "new account" and our investigation may take up to 20 business days. We provisionally credited your account in the amount of ${{amount}} on {{date}}.
  </p>
  <p class="body-text">
    As updates become available, we will keep you informed.
  </p>
  {{>disputeSignature}}
</div>
