<div class="footer">
  <div class="icons-container">
    <a href="https://www.instagram.com/karmawallet/">
      <img class="social-logo" src="https://cdn.karmawallet.io/uploads/ijOIGMRyKe-instagramlogo.png" alt="instagram logo" />
    </a>
    <a href="https://www.linkedin.com/company/karmawallet/">
      <img class="social-logo" src="https://cdn.karmawallet.io/uploads/dtAN_figAe-linkedinlogo.png" alt="LinkedIn logo" />
    </a>
    <a href="https://twitter.com/KarmaWallet">
      <img class="social-logo" src="https://cdn.karmawallet.io/uploads/U8YfMJn99a-twitterlogo.png" alt="Twitter logo" />
    </a>
    <a href="https://www.facebook.com/karmawallet1">
      <img class="social-logo" src="https://cdn.karmawallet.io/uploads/NN6y0ItDeM-facebooklogo.png" alt="facebook logo" />
    </a>
    <a href="https://www.tiktok.com/@karma.wallet">
      <img class="social-logo" src="https://cdn.karmawallet.io/uploads/xh14-rd2qt-tiktiklogo.png" alt="tiktok logo" />
    </a>
  </div>
  <div class="company-info-container">
    <p class="copyright">Copyright© {{currentYear}} ImpactKarma Inc.</p>
    <div class="link-container">
      <span class="link">11845 Retail Drive, #1107, Wake Forest, NC 27587</span>
      <span class="link-separator">|</span>
      <span class="link"><a href="https://cdn.karmawallet.io/privacy_policy.pdf">Privacy</a></span>
      <span class="link-separator">|</span>
      <span class="link last"><a href="https://cdn.karmawallet.io/terms_of_service.pdf">Terms</a></span>
    </div>
  </div>
</div>