<div class="card">
  <p class="salutation-text">Hi {{name}},</p>
  <p class="body-text" id="body-text-important">
    Thank you for applying for the Karma Wallet card! We noticed you still need to pay your membership fee to get started. Please click the button below to pay now. If you have already paid the membership fee, please disregard this email. 
  </p>
  <div class="cta-container">
    <a class="cta-link" href={{link}}>Finish Payment</a>
  </div>
  <p class="support-text">
    If clicking the button above doesn't work, please copy and paste {{link}} in a new browser window instead.
  </p>  
</div>