<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    Good news - your Karma Wallet Card has been delivered! Log in to your Karma Wallet Card app to activate your Karma Wallet Card and start using it today.
  </p>
  <div class="signature-container">
    <p>Thanks,</p>
    <p>Karma Wallet Support</p>
  </div>
  <p class="support-text">
    <a href="mailto:support@karmawallet.io">Need help? Contact us!</a>
  </p>
</div>
