<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    Good news - your Karma Wallet Card has been delivered! Log in to your Karma Wallet Card app to activate your Karma Wallet Card and start using it today.
  </p>
  <div class="signature-container">
    <p>Regards,</p>
    <p>The Karma Wallet Team</p>
  </div>
  <p class="support-text">
    <a href="mailto:support@karmawallet.io">For Support, contact Karma Wallet at support@karmawallet.io</a>
  </p>
</div>
