<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    Good news! Your Karma Wallet Card has shipped and should arrive soon. We will send another email notifying you when your card has been delivered.
  </p>
  <div class="signature-container">
    <p>Regards,</p>
    <p>The Karma Wallet Support Team</p>
  </div>
  <p class="support-text">
    <a href="mailto:info@karmawallet.io">For Support, contact Karma Wallet</a>
  </p>
</div>
