<div class="card">
  <p class="salutation-text">{{name}}, Welcome to Karma Wallet Membership!</p>
  <p class="body-text">Congrats on becoming a Karma Wallet Member. Your membership empowers you to use your finances as a force for good. Your physical card should be mailed to your address within 5-7 business days. In the meantime, get started on your sustainability journey with your virtual card. To get started:</p>
  {{#if newUser}}
    <div class="step">
      <span class="bold">Step 1:</span>
      <span>Finish Setting up your account. We sent you a separate email with instructions on how to update your temporary Karma Wallet account password.</span>
    </div>
    <div class="step">
      <span class="bold">Step 2:</span>
      <span>Download the Karma Wallet app and start using your virtual card immediately by clicking the eye icon on the home screen. Once you receive your phsyical card, you can activate it and set your numerical PIN in-app.</span>
    </div>
    <div class="step">
      <span class="bold">Step 3:</span>
      <span>Link an external bank account to load your Karma Wallet Card with money. Then you can start shopping sustainably and earn Karma Cash. Woohoo!</span>
    </div>
    <div class="step">
      <span class="bold">Step 4:</span>
      <span>Make us better by sharing ideas and questions through the in-app customer support form.</span>
    </div>
   {{else}}
    <div class="step">
      <span class="bold">Step 1:</span>
      <span>Download the Karma Wallet app and start using your virtual card immediately by clicking the eye icon on the home screen. Once you receive your phsyical card, you can activate it and set your numerical PIN in-app.</span>
    </div>
    <div class="step">
      <span class="bold">Step 2:</span>
      <span>Link an external bank account to load your Karma Wallet Card with money. Then you can start shopping sustainably and earn Karma Cash. Woohoo!</span>
    </div>
    <div class="step">
      <span class="bold">Step 3:</span>
      <span>Make us better by sharing ideas and questions through the in-app customer support form.</span>
    </div>
  {{/if}}
  <p class="support-text">#LiveYourValues</p>
</div>