<div class="card">
  <p class="salutation-text">{{name}}, Welcome to the Karma Wallet Family!</p>
  <p class="body-text">Your physical card should be mailed to your address within 5-7 business days. In the meantime, get started on your sustainability journey with your virtual card. To get started:</p>
  {{#if newUser}}
    <div class="step">
      <span class="bold">Step 1:</span>
      <span>Finish Setting up your Karma Wallet account. You should have received an email entitled "Change Your Karma Wallet Password". Follow the instructions on this email to change your Karma Wallet account password.</span>
    </div>
    <div class="step">
      <span class="bold">Step 2:</span>
      <span>Download the Karma Wallet app. You can immediately start using your virtual card by clicking the eye icon on the card art on the home screen. Once you receive your physical card, you can also activate it and set your pin in the Karma Wallet application.</span>
    </div>
    <div class="step">
      <span class="bold">Step 3:</span>
      <span>Link an external bank account in the app and load your Karma Wallet Card to start shopping sustainably and earning Karma Cash.</span>
    </div>
    <div class="step">
      <span class="bold">Step 4:</span>
      <span>Make us better by sharing ideas and questions through the in-app customer support form.</span>
    </div>
   {{else}}
    <div class="step">
      <span class="bold">Step 1:</span>
      <span>Download the Karma Wallet app. You can immediately start using your virtual card by clicking the eye icon on the card art on the home screen. Once you receive your physical card, you can also activate it and set your pin in the Karma Wallet application.</span>
    </div>
    <div class="step">
      <span class="bold">Step 2:</span>
      <span>Link an external bank account in the app and load your Karma Wallet Card to start shopping sustainably and earning Karma Cash.</span>
    </div>
    <div class="step">
      <span class="bold">Step 3:</span>
      <span>Make us better by sharing ideas and questions through the in-app customer support form.</span>
    </div>
  {{/if}}
  <p class="support-text">#LiveYourValues</p>
</div>