<div class="card">
  <p class="salutation-text">Hi Support,</p>
  <p class="body-text">A new account delete request has been submitted for user with email: {{userEmail}}</p>
  <p class="body-text">{{message}}</p>
</div>