<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    We closed your Card Account dispute claim, that you submitted on {{submittedClaimDate}}
    for ${{amount}}
    from {{merchantName}}, in your favor. The provisional credit previously paid to your Card Account in the above amount is now permanent.
    We appreciate your patience and cooperation throughout the dispute claim process.
  </p>
  {{>disputeSignature}}
</div>
