<!DOCTYPE html>
<html>
  <head>
    {{{style}}}
    {{{templateStyle}}}
  </head>  
  <body>
    <div class="email-wrapper">
      <div class="email-container">
          <div class="logo-container">
            <a href="{{domain}}">
              <img class="karma-logo" src=" https://cdn.karmawallet.io/uploads/E0fnXAPNO3-karmawhitelogo.png" alt="Karma Wallet Logo" />
            </a>
          </div>
          {{>body}}
          {{>footer}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>