<div class="card">
  <p class="salutation-text">Hi {{name}},</p>
  <p class="body-text">
    We received your claim request regarding a transaction with <span class="bold">{{companyName}}</span> in the amount of <span class="bold">${{amount}}</span>. Based on our review of your claim, we are unable to take action at this time.
  </p>
   <p class="body-text">
    For this claim, we recommend you contact the merchant or recipient to determine how to best resolve the issue.
  </p>
  {{>disputeSignature}}
</div>