    <div class="card">
      <p class="salutation-text">Hello {{ name }}!</p>
      <p class="body-text">Please click the button below to finalize your email change.</p>
      <div class="cta-container">
        <a class="cta-link" href="{{affirmationLink}}">Complete Email Change</a>
      </div>
      <p class="support-text">
        If clicking the button above doesn't work, please copy and paste <a href="{{affirmationLink}}">{{affirmationLink}}</a> in a new browser window instead.
      </p>  
      <p class="support-text">If you did not request this change please contact support at <strong>support@karmawallet.io</strong></p>
    </div>