<div class="card">
  <p class="salutation-text">Hi {{name}},</p>
  <p class="body-text" id="body-text-important">
    Changing your password is simple. Please click the button below.
  </p>
  <div class="cta-container">
    <a class="cta-link" href="{{passwordResetLink}}">Change Password</a>
  </div>
  <p class="support-text">
    If clicking the button above doesn't work, please copy and paste {{passwordResetLink}} in a new browser window instead.
  </p>  
</div>