<div class='card'>
  <p class='salutation-text'>Hi {{name}},</p>
  <p class='body-text'>
    Your account balance has dipped below $50. Reload your Karma Wallet Card in-app to continue using it!  </p>
  <div class="signature-container">
    <p>The Karma Wallet Support Team</p>
  </div>
</div>
