<!DOCTYPE html>
<html>

<head>
  {{{style}}}
</head>

<body>
  <div class="email-wrapper">
    <div class="email-container">
      <img class="brand" src="https://cdn.karmawallet.io/uploads/U1T7Ka5_kt-kw-dark-logo.png" alt="Karma Wallet Logo" />
      <p class="email-body">Hi Support,</p>
         <p class="email-body">A new support ticket has been submitted for user with email: {{userEmail}}</p>
         <p class="email-body">{{message}}</p>
    </div>
  </div>
</body>

</html>