<div class="card">
  <div class="email-container">
    <p class="salutation-text">Hi Support,</p>
    <p class="body-text">A new support ticket has been submitted for user with email: {{userEmail}}</p>
    <p class="body-text">{{message}}</p>
  </div>
</div>