<div class="card">
  <p class="salutation-text">Hi Support,</p>
  <p class="body-text">A new support ticket has been submitted for user with email: {{userEmail}}</p>
  <p class="body-text italic">{{message}}</p>
</div>