<div class="card">
  <p class='salutation-text'>{{name}}, Congratulations!</p>
  <div class='cash-banner'>
      <span class="cash-logo">
        <span class="usd-icon-wrapper">
          <span class="usd-icon">$</span>
        </span>
        <span class="karma-cash">Karma Cash</span>
      </span>
    <span class="cash-amount">${{amount}}</span>
  </div>
  <p class='body-text'>${{amount}} in Karma Cash has been deposited into your Karma Wallet account.</p>
  <p class='support-text'>
    <a href='mailto:info@karmawallet.io'>For Support, contact Karma Wallet</a>
  </p>
</div>