<div class="card">
  <p class="salutation-text">{{name}}, Congratulations!</p>
  <div class="cash-banner">
    <div class="karma-cash-container">
      <div class="usd-icon">$</div>
      <div class="karma-cash">Karma Cash</div>
    </div>
    <div class="cash-amount">${{amount}}</div>
  </div>
  <p class="body-text">${{amount}} in Karma Cash has been deposited into your Karma Wallet account.</p>
  <p class="body-text">You've supported some seriously awesome sustainable, local, and ethical companies recently to earn those rewards. But there are even more ways to earn Karma Cash. Explore more cashback offers on Karma Wallet!</p>
  <div class="cta-container">
    <a class="cta-link" href="https://karmawallet.io/browse-companies?cashback=true">Explore Cashback Offers</a>
  </div>
  <div class="how-to-use-container">
    <H3>How to Use your Karma Cash</H3>
    <ul>
      <ol>1. Keep it for yourself! You earned it.</ol>
      <ol>2. Offset your carbon emissions! Use your Karma Cash to offset your shopping carbon footprint through Rare.</ol>
      <ol>3. Amplify your impact. Donate it to our <a class="inline-link" href="https://karmawallet.io/our-impact">non-profit partners</a>!</ol>
    </ul>
  </div>
</div>