<div class="dispute-signature-container">
  <div class="signature-container">
    <p>Regards,</p>
    <p>The Karma Wallet Support Team</p>
  </div>
  <p class="body-text">Please do not reply to this email. If you have any questions, contact our customer support team at 1-866-304-4030.</p>
  <p class="body-text">The Karma Wallet Card is issued by Pathward, NA., Member FDIC, pursuant to a license from Visa.</p>
</div>